---

---

<header class="header">
  <div class="navbar-container default-continer">
    <!-- Logo -->
    <a href="/" aria-label="Inicio Suscribeme">
      <span>Suscribeme</span>
    </a>
    <div>Nav</div>
    <!-- NAVBAR -->
    <nav aria-label="Navegación principal">
      <ul>
        <li><a href="/search">Search</a></li>
        <li><a href="/categories">Categorías</a></li>
        <li><a href="/subscriptions">Explorar planes</a></li>
        <li><a href="/sellers">Vendedores</a></li>
        <li><a href="/login">Ingresar</a></li>
      </ul>
    </nav>
  </div>
</header>
