.add-item-custom-package-modal-container {
  width: 780px;
  height: 500px;
  /*background-color: pink;*/
}

.add-item-custom-package-modal-item-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  gap: 12px;
}

.add-item-custom-package-modal-responsive-item-info {
  display: none;
}

.add-item-custom-package-modal-responsive-props {
  display: none;
}

@media screen and (max-width: 785px) {
  .add-item-custom-package-modal-container {
    width: 100%;
    height: 500px;
    /*background-color: yellow;*/
  }

  .add-item-custom-package-modal-mask {
    padding: 15px;
    padding-top: 35px;
  }
}

@media screen and (max-width: 705px) {
  .add-item-custom-package-modal-container {
    /*background-color: violet;*/
    height: 100%;
  }

  .add-item-custom-package-modal-mask {
    padding: 10px;
  }

  .custom-package-add-item-modal-content {
    width: 100%;
    height: calc(100% - 70px);
    box-sizing: border-box;
    align-items: unset;
    /*border: 1px solid yellow;*/
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    overflow-y: scroll;
  }

  .add-item-custom-package-modal-desktop-component {
    display: none;
  }

  .add-item-custom-package-modal-responsive-item-info {
    display: block;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 25px;
    align-items: flex-start;
    /*background-color: pink;*/
  }

  .add-item-custom-package-modal-responsive-item-info-img {
    width: 120px;
    height: 130px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  .add-item-custom-package-modal-responsive-props {
    display: block;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

@media screen and (max-width: 510px) {
  .add-item-custom-package-modal-responsive-item-info-img {
    width: 90px;
    height: 100px;
  }
  .custom-package-add-item-modal-content {
    padding-left: 25px;
    padding-right: 25px;
  }
}
