.responsive-best-seller-card {
  width: 185px;
  height: 145px;
  flex-direction: 0 0 5em;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  border: 1px solid #efefef;
  position: relative;
  background-color: #000;
}

.responsive-best-seller-card-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  z-index: 200;
  text-align: center;
  color: red;
  color: #d9d9d9;
  /*
=>  background-image: linear-gradient(180deg, #00000000 0%, #020005fb 100%);
  background-image: linear-gradient(180deg, #020005fb 0%, #00000000 100%);

  */
}

.responsive-best-seller-card-cover-image {
  width: 100%;
  height: 60%;
  object-fit: cover;
  object-position: center;
}

.responsive-best-seller-card-cover-image-layer {
  width: 100%;
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-image: linear-gradient(180deg, #00000000 0%, #020005fb 100%);
}

.responsive-best-seller-card-layer h3 {
  font-size: 14px;
  margin: 0;
  color: #fff;
  line-height: 1;
}

.responsive-best-seller-card-layer span {
  font-size: 11px;
  line-height: 1;
  margin: 0;
}

.responsive-best-seller-card-avatar {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background-color: #efefef;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 10px;
}
