.categories-body {
  background-color: #f9fafb;
}

.categories-main {
  background-color: #f9fafb;
  position: relative;
  box-sizing: border-box;
  margin-top: 70px;
}

.categories-screen-section-container {
  width: 1300px;
  box-sizing: border-box;
  margin: 0 auto;
  /*border: 1px solid violet;*/
}

.categories-screen-main-grid {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  position: relative;
  /*background-color: red;*/
}

/**/

.search-screen-main-grid-search-container {
  width: 320px;
  height: 100%;
  box-sizing: border-box;
  /*background-color: green;*/
  position: relative;
  padding-right: 30px;
  padding-bottom: 20px;
}

.search-screen-main-grid-search-box {
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid #efefef;
  position: sticky;
  top: 70px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.search-screen-main-grid-search-box-header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-screen-main-grid-search-box-section {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #595959;
}

.search-screen-main-grid-search-box-section h3 {
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 5px;
}

.search-screen-main-grid-search-box-price-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-screen-main-grid-search-box-price-container span {
  font-size: 11px;
  color: #8c8c8c;
}

.search-screen-main-grid-search-box-price-input-container {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  border: 1px solid #efefef;
  padding: 10px;
  border-radius: 10px;
  font-size: 13px;
  align-items: center;
}

.search-screen-main-grid-search-box-price-input-container span {
  font-size: 12px;
  color: #434343;
}

.search-screen-main-grid-search-box-price-input-container
  input[type='number']:focus {
  outline: none;
  box-shadow: none;
  border-color: #e0e0e0;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  /*margin-bottom: 10px;*/
  cursor: pointer;
  user-select: none;
}

/* Ocultamos el checkbox real */
.checkbox input {
  display: none;
}

/* Caja base */
.custom-box {
  width: 14px;
  height: 14px;
  border: 1.5px solid #9ca3af;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

/* CHECKBOX CUADRADO */
.checkbox.square .custom-box {
  border-radius: 4px;
}

/* CHECKBOX CIRCULAR (radio visual) */
.checkbox.circle .custom-box {
  border-radius: 50%;
}

/* Estado activo */
.checkbox input:checked + .custom-box {
  border-color: #2563eb;
}

/* Punto interior (radio) */
.checkbox.circle input:checked + .custom-box::after {
  content: '';
  width: 8px;
  height: 8px;
  background: #2563eb;
  border-radius: 50%;
}

/* Check cuadrado */
.checkbox.square input:checked + .custom-box::after {
  content: '';
  width: 8px;
  height: 8px;
  background: #2563eb;
}

hr {
  border: none;
  border-top: 1px solid #e5e7eb;
  margin: 16px 0;
}

.categories-screen-main-grid-content-container {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.categories-screen-main-grid-banner {
  width: 100%;
  height: 220px;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.categories-screen-main-grid-banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.categories-screen-main-grid-banner-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background-color: #0000007b;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  color: #d9d9d9;
  justify-content: flex-end;
}

.categories-screen-main-grid-banner-layer h2 {
  margin: 0;
  line-height: 1;
  font-weight: 500;
  color: #fff;
  font-size: 30px;
}

.search-screen-header-results {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 13px;
  justify-content: flex-end;
}

.search-screen-header-result {
  width: fit-content;
  padding: 4px 10px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.search-screen-header-result:hover {
  color: #1890ff;
}

.search-screen-header-result-cta {
  border-bottom: 2px solid #1890ff;
  color: #1890ff;
}

.categories-screen-main-grid-content-cards-grid {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  /*background-color: pink;*/
}

.categories-screen-responsive-banner {
  display: none;
}

.categories-screen-filters-box {
  display: none;
}

.categories-screen-search-navbar {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 40px;
  /*background-color: pink;*/
}

.categories-screen-results-container {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  /*background-color: pink;*/
}

.categories-screen-results-span {
  font-size: 12px;
  color: #8c8c8c;
}

.categories-screen-filters-box-mobile {
  display: none;
}

.categories-screen-navigation-sticky-bar {
  display: none;
}

@media screen and (max-width: 1350px) {
  .categories-screen-section-container {
    width: 100%;
    padding: 0px 40px;
    /*border: 1px solid green;*/
  }
}

@media screen and (max-width: 1260px) {
  .categories-screen-main-grid-content-cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1030px) {
  .categories-main {
    margin-top: 60px;
  }

  .categories-screen-main-grid {
    grid-template-columns: 1fr;
  }

  .search-screen-main-grid-search-container {
    display: none;
  }

  .categories-screen-navigation-sticky-bar {
    display: block;
    width: 100%;
    height: fit-content;
    background-color: white;
    background-color: pink;
    background-color: #f9fafb;
    box-sizing: border-box;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }

  .categories-screen-navigation-filters-box {
    display: block;
    width: fit-content;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 10px;
    border: 1px solid violet;
    border: 1px solid #efefef;
    padding: 0px 15px;
    border-radius: 10px;
    background-color: pink;
    background-color: #fff;
    height: 32px;
    font-size: 13px;
  }

  .categories-screen-main-grid-content-cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .categories-screen-main-grid-banner {
    display: none;
  }

  .categories-screen-search-bar-desktop {
    display: none;
  }

  .search-screen-header-results {
    justify-content: flex-start;
  }

  .categories-screen-responsive-banner {
    display: block;
    width: 100%;
    height: 220px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background-color: black;
  }

  .categories-screen-responsive-banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .categories-screen-responsive-banner-layer {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 30px;
    background-color: #00000052;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
  }

  .categories-screen-responsive-banner-layer h2 {
    margin: 0;
    line-height: 1;
    font-weight: 500;
    color: #fff;
    font-size: 30px;
  }

  .categories-screen-filters-box {
    display: block;
    width: fit-content;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 10px;
    border: 1px solid violet;
    border: 1px solid #efefef;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: pink;
    background-color: #fff;
  }
}

@media screen and (max-width: 900px) {
  .categories-screen-main-grid-content-cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 720px) {
  .categories-screen-section-container {
    width: 100%;
    padding: 0px 20px;
    /*border: 1px solid blue;*/
  }

  .categories-screen-responsive-banner-layer {
    padding: 30px 25px;
  }
}

@media screen and (max-width: 680px) {
  .categories-screen-pagination-container {
    display: none;
  }
  .categories-screen-search-navbar {
    gap: 10px;
    /*background-color: red;*/
  }
}

@media screen and (max-width: 570px) {
  .categories-screen-main-grid-content-cards-grid {
    grid-template-columns: 1fr;
  }

  .search-screen-header-results {
    font-size: 13px;
  }
  .search-screen-main-grid-search-box {
    font-size: 12px;
  }
}

@media screen and (max-width: 440px) {
  .categories-screen-filters-box {
    display: none;
  }

  .categories-screen-filters-box-mobile {
    display: block;
    width: fit-content;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 10px;
    border: 1px solid violet;
    border: 1px solid #efefef;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: pink;
    background-color: #fff;
  }
}

/*
.categories-screen-section-container {}
*/
