.category-carousel {
  position: relative;
}

.category-carousel-card-content {
  background: white;
  height: 460px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  user-select: none;
  box-sizing: border-box;
}

.category-carousel-card-img {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  object-position: center;
  object-fit: cover;
  box-sizing: border-box;
}

.category-carousel-card-layer {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-image: linear-gradient(180deg, #00000000 0%, #020005fb 100%);

  position: absolute;
  padding: 35px 30px;
  top: 0;
  left: 0;
  z-index: 60;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15px;
  color: #fff;
}

.category-carousel-card-layer h3 {
  margin: 0;
  font-size: 40px;
  font-weight: 500;
}

.category-carousel-card-layer a {
  text-decoration: none !important;
  color: #d9d9d9 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

.category-responsive-carousel {
  width: 100%;
  display: flex;
  overflow-x: auto;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.category-responsive-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.category-responsive-card {
  width: 340px;
  height: 450px;
  flex-direction: 0 0 5em;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 10px;
}
