.collection-main {
  margin-top: 50px;
  gap: 40px;
}

.collection-section-container {
  width: 1300px;
  box-sizing: border-box;
  margin: 0 auto;
}

.collection-screen-hero-nav {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  color: #8c8c8c;
}

.collection-screen-filters-section {
  width: fit-content;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
}

.collection-screen-items-grid {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 30px;
}

/* ================= HERO SECTION ================= */

.collection-hero-section {
  box-sizing: border-box;
  background-color: #101827;
  color: #bfbfbf;
}

.collection-hero-section-content {
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.collection-hero-section-content h1 {
  margin: 0;
  font-size: 40px;
  color: #fff;
}

.collection-hero-section-content p {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 15px;
  max-width: 950px;
}

/* ================= STICKY BAR ================= */

.collection-sticky-bar-section {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100vw;
  z-index: 1000;
  background-color: red;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.collection-sticky-bar-section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collection-sticky-bar-section-banner {
  width: 100%;
  box-sizing: border-box;
  padding: 16px 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  background-color: #1a0f35;
  /* Degradado principal (degradado lineal de arriba a abajo) */
  background-image: 
    /* 1. Degradado Radial para el "brillo" púrpura/violeta (arriba a la derecha).
      El tamaño 'circle 600px at 75% 20%' lo posiciona y define su forma.
      '#4e047f' es el color de inicio, 'rgba(26, 15, 53, 0)' es el transparente.
    */
    radial-gradient(
      circle 600px at 75% 20%,
      #4e047f 0%,
      rgba(26, 15, 53, 0) 70%
    ),
    /* 2. Degradado Radial para el "brillo" azul (abajo a la izquierda).
      Posicionado en 'circle 800px at 15% 90%'.
      '#050830' es un azul muy oscuro, 'rgba(26, 15, 53, 0)' es el transparente.
    */
    radial-gradient(
        circle 800px at 15% 90%,
        #050830 0%,
        rgba(26, 15, 53, 0) 70%
      );
  color: white;
}

.collection-sticky-bar-section-filter {
  width: 100%;
  box-sizing: border-box;
  padding: 16px 30px;
  background-color: #fff;
  font-size: 14px;
  color: #434343;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.collections-screen-informative-message-container {
  background-color: #f0f6ff;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 10px;
  color: #1f3a89;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  border: 1px solid #bfdbfe;
}

@media screen and (max-width: 1350px) {
  .collection-section-container {
    width: 100%;
    padding: 0px 40px;
  }

  .collection-hero-section-content {
    padding: 100px 40px;
  }
}

@media screen and (max-width: 1200px) {
  .collection-screen-items-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 820px) {
  .collection-screen-filters-section {
    display: none;
  }
}

@media screen and (max-width: 1020px) {
  .collection-screen-items-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 720px) {
  .collection-section-container {
    width: 100%;
    padding: 0px 20px;
  }

  .collection-hero-section-content {
    padding: 100px 20px;
  }
}

@media screen and (max-width: 650px) {
  .collection-hero-section-content h1 {
    font-size: 30px;
    font-weight: 500;
  }

  .collection-hero-section-content p {
    font-size: 13px;
  }
}

@media screen and (max-width: 510px) {
  .collection-screen-items-grid {
    grid-template-columns: 1fr;
  }
}

/*
.collection-screen-filters-section {
}

*/
