.custom-package-section-container {
  max-width: 1300px;
  box-sizing: border-box;
  margin: 0 auto;
}

.custom-package-section-title {
  font-size: 20px;
  margin: 0;
  font-weight: 700;
}

/* ================= HERO SECTION ================= */

.custom-package-hero-section {
  box-sizing: border-box;
  background-color: #101827;
  color: #bfbfbf;
}

.custom-package-hero-section-content {
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.custom-package-hero-section-content h1 {
  margin: 0;
  font-size: 40px;
  color: #fff;
}

.custom-package-hero-section-content p {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 15px;
  max-width: 950px;
}

/* ================= PRINCIPAL GRID SECTION ================= */

.custom-package-principal-grid-section {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 50px;
  position: relative;
}

.custom-package-principal-grid-left-col {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.custom-package-principal-grid-left-col p {
  margin: 0;
  font-size: 15px;
  line-height: 1.4;
}

.custom-package-items-grid {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.custom-package-item-card {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  /*box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);*/
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  border: 1px solid #e4e4e4;
}

.custom-package-item-card-content {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.custom-package-item-card-content h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
}

.custom-package-item-card-content p {
  font-size: 12px;
  margin: 0;
  line-height: 1.5;
  font-weight: 350;
  color: #545454;
}

.custom-package-item-card-img {
  width: 100%;
  height: 180px;
  background-color: black;
  border-radius: 5px;
  margin-bottom: 8px;
}

.card-button {
  border: none;
  border: 1px solid #7d2ae8;
  background: #7d2ae8;
  color: #fff;
  border-radius: 6px;
  padding: 8px 22px;
  font-size: 13px;
  cursor: pointer;
  transition: background 0.2s;
}

.card-button:hover {
  color: #fff;
  background: #5a1bb0;
  border: 1px solid #7d2ae8;
}

.custom-package-items-grid-right-col {
  width: 400px;
  box-sizing: border-box;
  position: relative;
  z-index: 40;
}

.custom-package-items-grid-right-col-content {
  width: 400px;
  height: fit-content;

  /*
  position: sticky;
  top: 0;
  */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 40;
}

.custom-package-aside-total-card {
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 15.5px;
  font-weight: 500;
}

.custom-package-aside-total-card a {
  font-weight: 400;
  font-size: 14px;
}

.custom-package-aside-total-card-title-container {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #5d5d5d;
}

.bi-cart {
  color: #37afe1;
}

.custom-package-aside-total-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #000;
}

.custom-package-aside-total-container h4 {
  margin: 0;
  font-size: 20px;
}

.custom-package-aside-total-container h4 span {
  font-size: 13px;
  font-weight: 400;
  color: #545454;
}

.custom-package-aside-total-button {
  border: none;
  border: 1px solid #7d2ae8;
  background: #7d2ae8;
  color: #fff;
  border-radius: 6px;
  padding: 8px 22px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s;
}

.custom-package-aside-total-button:hover {
  color: #fff;
  background: #5a1bb0;
  border: 1px solid #7d2ae8;
}

/**/

.custom-package-info-section {
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  padding: 35px 30px;
  background-color: #fff;
}

/**/

.custom-package-plan-details-drawer-base-container {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  /*border: 1px solid green;*/
  padding: 0px 20px;
}

.custom-package-plan-details-drawer-header {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
}

.custom-package-plan-details-drawer-footer {
  height: 230px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  border-top: 1px solid #d9d9d9;
}

.custom-package-plan-details-drawer-footer-row {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-package-plan-details-drawer-list-container {
  width: 100%;
  height: calc(100vh - 320px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 20px;
}

.custom-package-plan-details-drawer-list-item {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  padding: 10px;
  border-radius: 7px;
  background-color: #efefef;
}

.custom-package-plan-details-drawer-list-item-img {
  width: 58px;
  height: 58px;
  object-fit: cover;
  border-radius: 8px;
  flex-shrink: 0;
}

.custom-package-plan-details-drawer-list-item-quantity-control {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: 15px;
}

.custom-package-plan-details-drawer-list-item-quantity-control button {
  width: 23px;
  height: 23px;
  border-radius: 999px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  background: #ffffff;
  cursor: pointer;
  font-weight: 600;
  font-size: 11px;
}

.custom-package-plan-details-drawer-list-item-quantity-control span {
  min-width: 20px;
  text-align: center;
  font-size: 12px;
}

.custom-package-plan-details-drawer-list-item-right-col {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.custom-package-plan-details-drawer-empty-cart-container {
  width: 100%;
  box-sizing: border-box;
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  padding: 30px;
  padding-top: 50px;
}

/**/

.custom-package-add-item-modal-base-container {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding: 0px 20px;
  /*border: 1px solid green;*/
}

.custom-package-add-item-modal-header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
}

.custom-package-add-item-modal-footer {
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d9d9d9;
}

.custom-package-add-item-modal-content {
  width: 100%;
  height: 445px;
  box-sizing: border-box;
  /*border: 1px solid violet;*/
  display: grid;
  grid-template-columns: auto 1.2fr 1fr;
  align-items: flex-start;
  gap: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
  overflow-y: scroll;
}

.custom-package-add-item-modal-img {
  width: 140px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

/* Contenedor clickable */
.radio-card {
  cursor: pointer;
}

/* Ocultamos el radio real */
.radio-card input {
  display: none;
}

/* Botón visual */
.radio-card span {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 7px 15px;
  min-width: 70px;

  border: 2px solid #d1d5db;
  border-radius: 8px;

  font-size: 12px;
  font-weight: 400;

  background-color: #ffffff;
  color: #111827;
  color: #595959;
  transition: all 0.2s ease;
}

/* Hover */
.radio-card:hover span {
  border-color: #6366f1;
}

/* Seleccionado */
.radio-card input:checked + span {
  border-color: #6366f1;
  background-color: #eef2ff;
  color: #4f46e5;
}

.custom-package-add-item-total-amount-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #e5e7eb;
  background-color: #f9fafb;
  padding: 10px 13px;
  border-radius: 8px;
}

.custom-package-add-item-total-amount-row {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-package-add-item-info-container {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 7px;
  border: 1px solid #bfdbfe;
  background-color: #f0f6ff;
  padding: 10px;
  border-radius: 8px;
  color: #1f3a89;
}
