.index-main {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 66px;
  padding-bottom: 100px;
}

.index-section-container {
  width: 1300px;
  box-sizing: border-box;
  margin: 0 auto;
}

.index-default-section {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.index-section-header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.index-section-header a {
  font-size: 14px;
}

.index-tag-filters-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.index-tag-filter {
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
  padding: 3px 30px;
  font-size: 11px;
  border: 1px solid green;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index-tag-filter span {
  margin: 0;
  line-height: 1;
  font-size: 13px;
}

.index-filters-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*================= HERO =================*/

.hero-banner {
  position: relative;
  box-sizing: border-box;
  padding: 85px;
  background-color: lightgreen;
}

.hero-banner-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-banner-content-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

/*================= SLIDER SECTION =================*/

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 480px; /* ALTURA FIJA */
}

.list {
  display: flex;
  position: relative;
  height: 100%;
  transition: left 0.5s ease;
  left: 0;
}

.item {
  min-width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.item-content {
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: white;
}

.item-content h2 {
  font-size: 45px;
  max-width: 600px;
  margin: 0;
}

.item-content p {
  margin: 0;
}
/*
background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
*/

.slide-1 {
  background-color: #1a0f35;
  background-image:
    radial-gradient(
      circle 600px at 75% 20%,
      #4e047f 0%,
      rgba(26, 15, 53, 0) 70%
    ),
    radial-gradient(
      circle 800px at 15% 90%,
      #050830 0%,
      rgba(26, 15, 53, 0) 70%
    );
}

.slide-2 {
  background-color: #020617;
  background-image:
    linear-gradient(110deg, #020617 0%, #0f172a 45%, #312e81 100%),
    radial-gradient(
      circle 500px at 85% 30%,
      rgba(168, 85, 247, 0.6) 0%,
      rgba(2, 6, 23, 0) 70%
    );
}

.slide-3 {
  background: linear-gradient(180deg, #4338ca 0%, #1e1b4b 40%, #020617 100%);
}

.header-buttons {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

.header-buttons button {
  pointer-events: all;
  margin: 0px;
}

.dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dots li {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.dots li.active {
  background: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.header-buttons button {
  background: #0070f3;
  color: #fff;
  border: none;
  padding: 15px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 0.2s;
}

.header-buttons button:hover {
  background: #005bb5;
}

.left-button {
  border-radius: 0px 10px 10px 0px;
}

.right-button {
  border-radius: 10px 0px 0px 10px;
}

/*================= CATEGORIES SECTION =================*/
.index-categories-grid {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 20px;
}

.index-categories-grid-item {
  width: 100%;
  height: 155px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  font-size: 13px;
  color: grey;
  text-align: center;
  gap: 30px;
}

/*================= FEATURED PLANS SECTION =================*/

/*================= BANNERS SECTION =================*/

.banners-section {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 470px 1fr;
  gap: 20px;
}

.banners-section-left-col {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 50px 40px;
  background: #1aba66;
  background: linear-gradient(
    0deg,
    rgba(26, 186, 102, 1) 0%,
    rgba(15, 62, 40, 1) 100%
  );
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}
.banners-section-left-col h2 {
  font-size: 30px;
  margin: 0;
  font-weight: 450;
}

.banners-section-right-col {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banners-section-right-col-card {
  width: 100%;
  height: fit-content;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: white;
  background: #960613;
  background: linear-gradient(
    160deg,
    rgba(150, 6, 19, 1) 0%,
    rgba(216, 74, 80, 1) 100%
  );
  position: relative;
}

.banners-section-right-col-card-first {
  justify-content: flex-end;
  text-align: end;
  background: #3d30a2;
  background: linear-gradient(
    164deg,
    rgba(61, 48, 162, 1) 0%,
    rgba(152, 138, 207, 1) 100%
  );
}

.banners-section-right-col-card-content {
  max-width: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banners-section-right-col-card-content h2 {
  font-size: 30px;
  margin: 0;
  font-weight: 450;
}

/*================= SELLERS SECTION =================*/

.sellers-section-grid {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.sellers-section-grid li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sellers-section-grid-item {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #efefef;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.sellers-section-grid-item-avatar {
  width: 52px;
  height: 52px;
  border-radius: 5px;
  background-color: #efefef;
}

.sellers-section-grid-item-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sellers-section-grid-item-content h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.sellers-section-grid-item-content span {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
}

/*================= CUSTOM PACKAGES INFO =================*/

.custom-packages-info-section-grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 15px;
  overflow: hidden;
}

.custom-packages-info-section-left-col {
  width: 100%;
  box-sizing: border-box;
  padding: 120px 50px;
  background-color: #6a3ee7;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.custom-packages-info-section-left-col h2 {
  font-size: 30px;
  margin: 0;
}

.custom-packages-info-section-left-col p {
  font-size: 17px;
  margin: 0;
  line-height: 1.6;
}

.custom-packages-info-section-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 5px 0px;
}

.custom-packages-info-section-check-ttl {
  font-weight: 400;
  font-size: 15px;
  margin: 0;
}

.custom-packages-info-section-right-col {
  width: 100%;
  /*background-color: pink;*/
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 50px;
  background-color: #efefef;
}

/*================= CURATED COLLECTIONS =================*/

.curated-collections-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/*================= PLATFORM PROPS =================*/

.platform-features-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.platform-features-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    'card1 card1 card1 card2 card2 card2'
    'card3 card3 card4 card4 card5 card5';
  gap: 20px;
}

.platform-features-card-1 {
  grid-area: card1;
}

.platform-features-card-2 {
  grid-area: card2;
}

.platform-features-card-3 {
  grid-area: card3;
}

.platform-features-card-4 {
  grid-area: card4;
}

.platform-features-card-5 {
  grid-area: card5;
}

.platform-features-card {
  background: #f6f6f6;
  border-radius: 16px;
  padding: 2rem;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.platform-features-card-info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.platform-features-card-info-container h3 {
  margin: 0;
  font-size: 23px;
  font-weight: 400;
}

.platform-features-card-info-container p {
  margin: 0;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 300;
}

@media (max-width: 768px) {
  .platform-features-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      'card1'
      'card2'
      'card3'
      'card4'
      'card5';
  }
}
