.modal-mask {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.373);
  display: flex;
  justify-content: center;
  z-index: 4000;
  padding-top: 35px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.modal-container {
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;

  transform: translateY(20px) scale(0.98);
  opacity: 0;

  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
}

/* Estado abierto */
.modal-mask.open {
  opacity: 1;
}

.modal-mask.open .modal-container {
  transform: translateY(0) scale(1);
  opacity: 1;
}

/* Estado cerrándose */
.modal-mask.close {
  opacity: 0;
}

.modal-mask.close .modal-container {
  transform: translateY(20px) scale(0.98);
  opacity: 0;
}
