.plan-detail-header {
  width: 1400px;
}

.plan-detail-main {
  width: 100%;
  box-sizing: border-box;
  /*padding: 40px 0px;*/
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  padding-bottom: 100px;
}

.plan-detail-section-container {
  width: 1100px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-right: 370px;
  position: relative;
  /*background-color: red;*/
}

.plan-detail-section-title {
  font-size: 20px;
  margin: 0;
  font-weight: 500;
}

/* ================= HERO ================= */

.plan-detail-hero-section {
  background-color: #101827;
  color: #bfbfbf;
}

.plan-detail-hero-content {
  width: 100%;
  box-sizing: border-box;
  /*border: 1px solid violet;*/
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.plan-detail-hero-content h1 {
  margin: 0;
  font-size: 40px;
  color: white;
}

.plan-detail-hero-content p {
  margin: 0;
  font-size: 18px;
}

.plan-detail-hero-content-row {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 20px;
}

.plan-detail-hero-content .plan-detail-hero-content-row span {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
}

.plan-detail-hero-rating {
  color: #facb15;
}

.plan-detail-hero-rating-responsive {
  display: none;
}

.plan-detail-hero-content-row h3 {
  margin: 0;
  font-size: 14px;
  color: violet;
}

.plan-detail-hero-navigation {
  gap: 10px;
}

.plan-detail-hero-content-tag {
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
  background-color: #f97315;
  color: white;
  padding: 4px 10px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.plan-detail-hero-content-row .plan-detail-hero-content-tag span {
  font-size: 12.5px;
  font-weight: 600;
}

.plan-detail-aside-card {
  width: 330px;
  height: fit-content;
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  right: 0;
}

.plan-detail-aside-card-content {
  width: 330px;
  height: fit-content;
  box-sizing: border-box;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border: 1px solid #e5e7eb;
  /*border-radius: 12px;*/
  padding: 38px 27px;
  display: flex;
  flex-direction: column;
  color: black;
}

.plan-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 12px;
  margin-top: 0;
}

.plan-price {
  margin: 0;
}

.plan-price .price {
  font-size: 2.5rem;
  font-weight: 700;
}

.plan-price .period {
  font-size: 1rem;
  color: #6b7280;
  margin-left: 4px;
}

.plan-save {
  color: #16a34a;
  font-size: 0.9rem;
  margin: 8px 0 16px;
}

.plan-description {
  font-size: 14px;
  color: #8c8c8c;
  margin-bottom: 20px;
}

.plan-button {
  border: none;
  border: 1px solid #7d2ae8;
  background: #7d2ae8;
  color: #fff;
  border-radius: 6px;
  padding: 8px 22px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
  margin-top: 25px;
}

.plan-button:hover {
  color: #fff;
  background: #5a1bb0;
  border: 1px solid #7d2ae8;
}

/* ================= ARTICLES IN PLAN SECTION ================= */

.plan-detail-articles-section-container {
  box-sizing: border-box;
  padding: 25px;
  border: 1px solid #dadada;
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.plan-detail-articles-section-list {
  width: 100%;
  box-sizing: border-box;
  /*background-color: red;*/
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.plan-detail-articles-section-item {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr auto;
  border: 1px solid #dadada;
  border-radius: 10px;
  padding: 15px;
  gap: 15px;
  align-items: center;
}

.plan-detail-articles-section-item-responsive-content {
  display: none;
}

.plan-detail-articles-section-item-avatar {
  width: 90px;
  height: 100px;
  box-sizing: border-box;
  background-color: grey;
  border-radius: 5px;
}

.plan-detail-articles-section-item-info {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  gap: 10px;
  color: #8c8c8c;
}

.plan-detail-articles-section-item-info h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.plan-detail-articles-section-item-info p {
  margin: 0;
  color: #434343;
  font-size: 12px;
}

.plan-detail-articles-section-item-info-row {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.plan-detail-articles-section-item-info-tag {
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
  padding: 2px 10px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: white;
  border: 1px solid #f97315;
  color: #f97315;
  border: 1px solid #bfdbfe;
  background-color: #f0f6ff;
  color: #1f3a89;
}

.plan-detail-articles-section-item-info-tag span {
  font-size: 10px;
}

.plan-detail-articles-section-item-type-container {
  height: 100%;
}

.plan-detail-articles-section-item-propeties-container {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
  align-items: flex-start;
}

.plan-detail-articles-section-item-propeties-label {
  width: fit-content;
  box-sizing: border-box;
  padding-top: 3px;
}

.plan-detail-articles-section-item-propeties-values-container {
  width: 100%;
  box-sizing: border-box;
}

/* ================= REVIEWS SECTION ================= */

.plan-detail-reviews-section-container {
  box-sizing: border-box;
  padding: 25px;
  border: 1px solid #dadada;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ================= SELLER SECTION ================= */

.plan-detail-seller-section-container {
  box-sizing: border-box;
  padding: 25px;
  border: 1px solid #dadada;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.package-detail-seller-username-container .plan-detail-section-seller-name {
  font-size: 18px;
}

.package-detail-seller-username-container span {
  font-size: 14px;
}

.plan-detail-bottom-sticky-bar {
  display: none;
}

@media screen and (max-width: 1430px) {
  .plan-detail-header {
    width: 100% !important;
    box-sizing: border-box !important;
    /*background-color: lightblue !important;*/
    padding: 0px 20px !important;
  }
}

@media screen and (max-width: 1190px) {
  .plan-detail-aside-card {
    display: none;
  }

  .plan-detail-section-container {
    width: 100%;
    padding-right: 0px;
    padding: 0px 40px;
  }

  /*FOOTER ...*/

  .plan-detail-bottom-sticky-bar {
    display: block;
    width: 100%;
    height: 120px;
    background-color: white;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
    align-items: center;
    padding: 0px 20px;
    border-radius: 10px 10px 0px 0px;
    box-shadow:
      0 -8px 32px 0 rgba(44, 26, 71, 0.18),
      0 -2px 8px 0 rgba(44, 26, 71, 0.1);
  }
}

@media screen and (max-width: 690px) {
  /*.plan-detail-articles-section-item-avatar {
    width: 120px;
    height: 140px;
    box-sizing: border-box;
    background-color: grey;
    border-radius: 5px;
  }*/

  .plan-detail-articles-section-item {
    align-items: flex-start;
  }
}

@media screen and (max-width: 640px) {
  .plan-detail-section-container {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 540px) {
  .plan-detail-section-container {
    padding: 0px 20px;
  }
  .plan-detail-articles-section-container {
    padding: 0px;
    border: none;
  }
  .plan-detail-reviews-section-container {
    border: 1px solid #d9d9d9;
    border-radius: 10px;
  }
  .plan-detail-articles-section-list {
    gap: 15px;
  }
  .plan-detail-articles-section-item-avatar {
    display: none;
  }
  .plan-detail-articles-section-item-info {
    display: none;
  }
  .plan-detail-articles-section-item-type-container {
    display: none;
  }

  .plan-detail-articles-section-item {
    padding: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #d9d9d9;
  }

  .plan-detail-articles-section-item-responsive-content {
    display: block;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .plan-detail-articles-section-item-responsive-details {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: flex-start;
    gap: 15px;
    padding: 15px;
    padding-bottom: 0px;
    font-size: 11px;
    gap: 15px;
    color: #8c8c8c;
  }
  .plan-detail-articles-section-item-responsive-image {
    width: 70px;
    height: 85px;
    background-color: grey;
    border-radius: 5px;
  }
  .plan-detail-articles-section-item-responsive-details-info {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .plan-detail-articles-section-item-responsive-details-info h3 {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    color: #000;
  }

  .plan-detail-articles-section-item-responsive-details-info p {
    margin: 0;
    line-height: 1.4;
    font-size: 11.5px;
    color: #8c8c8c;
  }

  .plan-detail-articles-section-item-responsive-configs-container {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    gap: 10px;
    color: #8c8c8c;
    padding: 15px;
    padding-top: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .plan-detail-seller-section-container {
    border: 1px solid #d9d9d9;
  }
}

@media screen and (max-width: 460px) {
  .plan-detail-hero-content h1 {
    margin: 0;
    font-size: 40px;
    font-size: 30px;
    color: red;
    font-weight: 500;
    color: white;
  }

  .plan-detail-hero-content-row h3 {
    margin: 0;
    font-size: 14px;
    font-size: 12px;
    font-weight: 400;
    color: violet;
  }

  .plan-detail-hero-content p {
    margin: 0;
    font-size: 18px;
    font-size: 13px;
  }

  .plan-detail-hero-content .plan-detail-hero-content-row span {
    font-size: 11px;
  }

  .plan-details-hero-props {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .plan-detail-hero-rating {
    display: none;
  }

  .plan-detail-hero-rating-responsive {
    color: #facb15;
    display: block;
  }
}

/*

*/
