.search-screen-container {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 360px 1fr;
  position: relative;
  background-color: #ffff;
}

.search-screen-aside {
  width: 360px;
  min-height: 100vh;
  position: relative;
  background-color: #ffff;
  z-index: 40;
}

.search-screen-aside-container {
  width: 360px;
  height: fit-content;
  background-color: #ffff;
  padding: 30px 20px;
  padding-left: 70px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: sticky;
  top: 51px;
  left: 0;
  z-index: 40;
}

.search-screen-aside article {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 13px;
  color: grey;
}

.search-screen-aside article h1 {
  margin: 0;
  color: green;
  font-size: 25px;
}

.search-screen-aside h2.search-screen-aside-subttl {
  margin: 0;
  color: green;
  font-size: 20px;
}

.search-screen-content {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #f9fafb;
  padding: 35px 0px;
}

.search-screen-content-container {
  max-width: 860px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-screen-content-section-container {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  gap: 8px;
  font-weight: 350;
}

.search-screen-content-container .search-screen-content-section-container h2 {
  margin: 0;
  color: green;
  font-size: 26px;
  font-weight: 500;
}

.search-screen-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-bottom: 60px;
}

.pagination-item,
.pagination-arrow,
.pagination-next {
  min-width: 36px;
  height: 36px;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  color: #6b7280;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-item:hover,
.pagination-arrow:hover,
.pagination-next:hover {
  background-color: #e5e7eb;
}

.pagination-item.active {
  background-color: #ffffff;
  border: 2px solid #3b82f6;
  color: #111827;
  font-weight: 500;
}

.pagination-arrow,
.pagination-next {
  font-weight: 500;
}
