.carousel {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.viewport {
  overflow: hidden;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

.track {
  display: flex;
  transition: transform 0.5s ease;
}

/* CARD SIZE REAL */
.standar-plan-card {
  flex: 0 0 25%;
  max-width: 25%;
  box-sizing: border-box;
  padding: 10px;
}

.standar-plan-card-resize {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 10px;
}

.standar-plan-card-content {
  background: white;
  min-height: 350px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  user-select: none;
  border: 1px solid #efefef;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.standar-plan-card-info-content {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*background-color: pink;*/
  flex: 1 1 auto;
  min-height: 0;
  gap: 20px;
}

.standar-plan-card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-size: 10px;
  color: #595959;
  gap: 10px;
  background-color: red;
  background-color: #fff;
  /*border: 1px solid black;*/
  height: 135px;
}

.standar-plan-card-info h3 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
  color: #000;
}

.standar-plan-card-info h4 {
  font-size: 11px;
  margin: 0;
  font-weight: 420;
  color: #000;
}

.standar-plan-card-info p {
  margin: 0;
  line-height: 1.3;
  font-size: 11.3px;
}

.standar-plan-card-price {
  font-size: 28px;
  font-weight: 430;
}

.standar-plan-card-items-list {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 7px;
  list-style: none;
  margin: 0;
  padding: 0;
  /*background-color: green;*/
  margin-top: 18px;
}

.standar-plan-card-items-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.standar-plan-card-items-list-item {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  /*background-color: violet;*/
  font-size: 11px;
  color: #4d4d4d;
  gap: 5px;
}

.standar-plan-card-items-list-item span {
  line-height: 1;
  margin: 0;
}

.standar-plan-card-info-tag {
  width: fit-content;
  box-sizing: border-box;
  padding: 3px 10px;
  background-color: #f2ebff;
  font-size: 10px;
  color: #6d16fa;
  display: flex;
  gap: 4px;
  border-radius: 20px;
}

@media screen and (max-width: 1100px) {
  .standar-plan-card {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

.responsive-plan-card {
  width: 320px;
  min-height: 380px;
  flex-direction: 0 0 5em;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #efefef;

  position: relative;
  overflow: hidden;
  user-select: none;
  display: flex;
  flex-direction: column;
}

.standar-plan-card-description {
  font-size: 11.3px;
  line-height: 1.4;
  margin: 0;
  color: red;
  color: #595959;
  color: #8c8c8c;
}

@media screen and (max-width: 640px) {
  .responsive-plan-card {
    width: 240px;
    min-height: 340px;
  }

  .standar-plan-card-info h3 {
    font-size: 13px;
  }

  .standar-plan-card-description {
    font-size: 11px;
  }

  .standar-plan-card-price {
    font-size: 18px;
  }

  .standar-plan-card-info {
    background-color: red;
    background-color: #fff;
    /*border: 1px solid black;*/
    height: 120px;
  }
  .standar-plan-card-items-list-item {
    font-size: 10px;
  }
}
