.store-details-screen-container {
  width: 1300px;
  box-sizing: border-box;
  margin: 0 auto;
  /*border: 1px solid violet;*/
}

.store-details-screen-main-grid {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  position: relative;
  gap: 30px;
}

.store-details-screen-main-grid-left-col {
  width: 320px;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  /*
  background-color: green;
  padding-right: 30px;
  padding-bottom: 30px;
  */
}

.store-details-screen-main-grid-store-box {
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  box-shadow:
    0 8px 32px rgba(44, 26, 71, 0.18),
    0 2px 8px rgba(44, 26, 71, 0.1);
  position: sticky;
  top: 70px;
  border-radius: 10px;
  overflow: hidden;
}

.store-details-screen-main-grid-store-box-header {
  width: 100%;
  height: 100px;
  /*background-color: pink;*/
  background-color: #000;
  box-sizing: border-box;
  position: relative;
}

.store-details-screen-main-grid-store-box-header-img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

.store-details-screen-main-grid-store-box-header-layer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0000003e;
}

.store-details-screen-main-grid-store-box-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: rgb(0, 0, 99);
  position: absolute;
  bottom: -40px;
  box-sizing: border-box;
  border: 2px solid #efefef;
}

.store-details-screen-main-grid-store-box-content {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.store-details-screen-main-grid-store-box-content h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  color: #000;
}

.store-details-screen-main-grid-store-box-content p {
  margin: 0;
  font-size: 14px;
  color: #444444;
  line-height: 1.4;
  font-weight: 320;
}

.store-details-screen-main-grid-right-col {
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 20px;
  /*background-color: pink;*/
  position: relative;
}

.store-details-screen-navigation-section {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 0px;
  position: sticky;
  top: 60px;
  left: 0;
  background-color: #f9fafb;
  /*background-color: red;*/
  z-index: 1000;
}

.store-details-screen-navigation-container {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 13px;
}

.store-details-screen-navigation-item {
  width: fit-content;
  padding: 4px 10px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.store-details-screen-navigation-item:hover {
  color: #1890ff;
}

.store-details-screen-navigation-item-cta {
  border-bottom: 2px solid #1890ff;
  color: #1890ff;
}

.store-details-screen-items-grid {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.store-details-screen-hero {
  display: none;
}

.categories-wrapper-mobile {
  display: none;
}

@media screen and (max-width: 1350px) {
  .store-details-screen-container {
    width: 100%;
    padding: 0px 40px;
    /*border: 1px solid green;*/
  }
}

@media screen and (max-width: 1260px) {
  .store-details-screen-items-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 1050px) {
  .store-details-screen-main-grid-left-col {
    display: none;
  }
  .store-details-screen-main-grid {
    grid-template-columns: 1fr;
  }

  .store-details-screen-items-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  /*header*/

  .store-details-screen-hero {
    display: block;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .store-details-screen-hero-cover-container {
    width: 100%;
    height: 180px;
    position: relative;
    background-color: pink;
    background-color: #000;
    box-sizing: border-box;
    position: relative;
  }
  .store-details-screen-hero-cover-layer {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /*background-color: #00000043;*/
    padding: 0px 30px;
    position: relative;
  }
  .store-details-screen-hero-cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .store-details-screen-hero-cover-avatar-img {
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #efefef;
    background-color: #efefef;
    position: absolute;
    bottom: -35px;
  }

  .store-details-screen-hero-content {
    width: 100%;
    box-sizing: border-box;
    /*background-color: violet;*/
    padding-top: 70px;
  }
  .store-details-screen-hero-content .store-details-screen-container h2 {
    font-size: 29px;
    color: #000;
    margin: 0;
    line-height: 1;
    font-weight: 500;
  }

  .store-details-screen-hero-content .store-details-screen-container span {
    font-size: 15px;
    margin: 0;
    line-height: 1;
    color: #8c8c8c;
  }

  .store-details-screen-hero-content .store-details-screen-container p {
    margin: 0;
    font-size: 15px;
    color: #444444;
    line-height: 1.4;
    font-weight: 320;
    margin-top: 20px;
  }

  .store-details-screen-navigation-section {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 0px;
    position: sticky;
    top: 120px;
    left: 0;
    background-color: #f9fafb;
    /*background-color: red;*/
    z-index: 1000;
  }

  .store-details-screen-sticky-bar {
    display: block;
    width: 100%;
    height: 60px;
    background-color: pink;
    background-color: #000;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 900px) {
  .store-details-screen-items-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 680px) {
  .store-detail-screen-pagination-container {
    display: none;
  }
}

@media screen and (max-width: 570px) {
  .store-details-screen-items-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 430px) {
  .store-details-screen-navigation-container {
    display: none;
  }

  .categories-wrapper-mobile {
    display: block;
    width: calc(100vw - 85px);
    box-sizing: border-box;
  }

  .categories-wrapper-container {
    border: 1px solid black;
    padding: 15px 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #efefef;
  }

  .categories-wrapper {
    position: relative;
    width: 100%;
  }

  /* Scroll horizontal */
  .categories-scroll {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    padding: 4px 32px;
    scroll-behavior: smooth;

    scrollbar-width: none;
  }
  .categories-scroll::-webkit-scrollbar {
    display: none;
  }

  /* Categorías */
  .category-item {
    flex-shrink: 0;
    padding: 6px 14px;
    border-radius: 999px;
    background: #f3f3f3;
    border: none;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
  }

  .category-item:hover {
    background: #e7e7e7;
  }

  /* Flechas */
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background: #fff;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 2;
  }

  .arrow.left {
    left: 4px;
  }

  .arrow.right {
    right: 4px;
  }
}
